<section class="section1">
  <div class="wrapper section1__container">
    <h2 class="section1__container--title">
      Volverse organizado se siente mejor con
      <span class="title-uppercase">open spaces</span>
    </h2>
    <!-- artículos parametrizados -->
    <section class="section1__container--content">
      <include
        src="./article-parameters/section1-article.html"
        icon="icon_1.png"
        title="Lo que necesitas"
        text="Una línea de productos diseñados para todos tus espacios."
      ></include>
      <include
        src="./article-parameters/section1-article.html"
        icon="icon_2.png"
        title="Materias primas sostenible"
        text="Todos los productos con materias primas sostenibles."
      ></include>
      <include
        src="./article-parameters/section1-article.html"
        icon="icon_3.png"
        title="Guía"
        text="Soporte y asesoramiento para ayudarte con tu objetivo."
      ></include>
    </section>
  </div>
</section>
