<footer class="footer">
  <div class="wrapper footer__container">
    <nav class="footer__nav">
      <h3 class="footer__nav--h3">Tienda</h3>
      <ul class="footer__list">
        <li>
          <a class="footer__list--link" href="https://adalab.es">Productos</a>
        </li>
        <li>
          <a class="footer__list--link" href="https://adalab.es">Cajoneras</a>
        </li>
        <li>
          <a class="footer__list--link" href="https://adalab.es"
            >Para toda la casa</a
          >
        </li>
        <li>
          <a class="footer__list--link" href="https://adalab.es"
            >Habitaciones</a
          >
        </li>
      </ul>
    </nav>

    <nav class="footer__nav">
      <h3 class="footer__nav--h3">Nosotras</h3>
      <ul class="footer__list">
        <li>
          <a class="footer__list--link" href="https://adalab.es"
            >Nuestra Guía</a
          >
        </li>
        <li>
          <a class="footer__list--link" href="https://adalab.es"
            >Nuestro diseño</a
          >
        </li>
        <li>
          <a class="footer__list--link" href="https://adalab.es"
            >Nuestra historia</a
          >
        </li>
        <li>
          <a class="footer__list--link" href="https://adalab.es">Ayuda</a>
        </li>
      </ul>
    </nav>

    <nav class="footer__nav">
      <h3 class="footer__nav--h3">Contacto</h3>
      <ul class="footer__list">
        <li>
          <a class="footer__list--link" href="mailto:ayuda@openspaces.com"
            >ayuda@openspaces.com</a
          >
        </li>
        <li>
          <a class="footer__list--link" href="https://adalab.es">Socias</a>
        </li>
      </ul>
      <ul class="footer__list socialmedia">
        <li class="socialmedia__item">
          <a class="socialmedia__item--link" href="https://adalab.es"
            ><i class="fa-brands fa-linkedin-in"></i
          ></a>
        </li>
        <li class="socialmedia__item">
          <a class="socialmedia__item--link" href="https://adalab.es"
            ><i class="fa-brands fa-instagram"></i
          ></a>
        </li>
        <li class="socialmedia__item">
          <a class="socialmedia__item--link" href="https://adalab.es"
            ><i class="fa-brands fa-twitter"></i
          ></a>
        </li>
      </ul>
    </nav>
    <div class="btn-3">
      <a href="./index.html#section0" class="btn-3__arrowup"
        ><i class="fa-solid fa-arrow-up"></i
      ></a>
    </div>
  </div>
</footer>
