<footer class="footer">
  <div class="wrapper footer__container">
    <nav class="footer__nav">
      <h3 class="footer__nav--h3">Tienda</h3>
      <ul class="footer__list">
        <li><a class="footer__list--link" href="">Productos</a></li>
        <li><a class="footer__list--link" href="">Cajoneras</a></li>
        <li>
          <a class="footer__list--link" href="">Para toda la casa</a>
        </li>
        <li><a class="footer__list--link" href="">Habitaciones</a></li>
      </ul>
    </nav>

    <nav class="footer__nav">
      <h3 class="footer__nav--h3">Nosotras</h3>
      <ul class="footer__list">
        <li><a class="footer__list--link" href="">Nuestra Guía</a></li>
        <li><a class="footer__list--link" href="">Nuestro diseño</a></li>
        <li>
          <a class="footer__list--link" href="">Nuestra historia</a>
        </li>
        <li><a class="footer__list--link" href="">Ayuda</a></li>
      </ul>
    </nav>

    <nav class="footer__nav">
      <h3 class="footer__nav--h3">Contacto</h3>
      <ul class="footer__list">
        <li>
          <a class="footer__list--link" href="mailto:ayuda@openspaces.com"
            >ayuda@openspaces.com</a
          >
        </li>
        <li>
          <a class="footer__list--link" href="">Socias</a>
        </li>
      </ul>
      <ul class="footer__list socialmedia">
        <li class="socialmedia__item">
          <a class="socialmedia__item--link" href=""
            ><i class="fa-brands fa-linkedin-in"></i
          ></a>
        </li>
        <li class="socialmedia__item">
          <a class="socialmedia__item--link" href=""
            ><i class="fa-brands fa-instagram"></i
          ></a>
        </li>
        <li class="socialmedia__item">
          <a class="socialmedia__item--link" href=""
            ><i class="fa-brands fa-twitter"></i
          ></a>
        </li>
      </ul>
    </nav>

    <a href="#section0" class="arrow-up_link"
      ><i class="fa-solid fa-arrow-up"></i
    ></a>
  </div>
</footer>
