<header class="header">
  <div class="wrapper header__wrapper">
    <nav class="header__nav">
      <a href="https://adalab.es" class="header__nav--menuMob"
        ><i class="fa-solid fa-bars"></i
      ></a>
    </nav>
    <nav class="header__nav">
      <ul class="header__nav--menuDesk">
        <li>
          <a class="desktop-menuLink" href="https://adalab.es">Productos</a>
        </li>
        <li>
          <a class="desktop-menuLink" href="https://adalab.es">Colecciones</a>
        </li>
        <li><a class="desktop-menuLink" href="https://adalab.es">Tienda</a></li>
        <li><a class="desktop-menuLink" href="https://adalab.es">Inicio</a></li>
      </ul>
    </nav>
  </div>
</header>
