// Tablet and desktop mediaqueries

@mixin tablet {
  @media all and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media all and (min-width: 1280px) {
    @content;
  }
}

// Tipos de texto

@mixin largeTextDark {
  font-family: $font-main;
  color: $textColor-dark;
  font-size: 1.5rem;
  padding-bottom: 0.75rem;
  @include tablet {
    font-size: 1.875rem;
  }
  @include desktop {
    font-size: 2.25rem;
  }
}

@mixin largeTextLight {
  font-family: $font-main;
  color: $textColor-light;
  font-size: 1.5rem;
  padding-bottom: 0.75rem;
  @include tablet {
    font-size: 1.875rem;
  }
  @include desktop {
    font-size: 2.25rem;
  }
}
