// fonts
$font-main: "Poppins", sans-serif;

// colors
$background-light: #f0ebe5;
$background-dark: #0c474b;
$background-contrast: #ff975a;
$textColor-dark: #0c474b;
$textColor-light: #ffff;
$textColor-dull: #b6c8c9;
