.footer {
  padding: $padding-sections;
  background-color: $background-dark;
  color: $textColor-dull;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__nav {
    height: 135px;
    width: 20ch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 1.25rem;
    &--h3 {
      font-size: 1.25rem;
    }
  }
  &__list {
    list-style: none;

    &--link {
      font-size: 0.875rem;
      text-decoration: none;
      color: $textColor-dull;
      @include desktop {
        font-size: 1rem;
      }
    }
  }
}

.socialmedia {
  display: flex;
  padding-top: 0.75rem;
  &__item {
    width: 35px;
    &--link {
      display: inline-block;
      text-decoration: none;
      color: $textColor-dull;
      font-size: 1.5rem;
    }
  }
}
