.footer {
  padding: $padding-sections;
  background-color: $background-dark;
  color: $textColor-dull;
  &__container {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
    }
  }
  &__nav {
    width: 20ch;
    text-align: left;
    margin: auto;
    padding-bottom: 2.5rem;
    &--h3 {
      font-size: 1.25rem;
    }
  }
  &__list {
    list-style: none;
    &--link {
      text-decoration: none;
      color: $textColor-dull;
    }
  }
}

.socialmedia {
  display: flex;
  &__item {
    width: 35px;
    &--link {
      display: inline-block;
      text-decoration: none;
      color: $textColor-dull;
      font-size: 1.5rem;
    }
  }
}
