.footer {
  padding: $padding-sections;
  background-color: $background-dark;
  color: $textColor-dull;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__nav {
    width: 20ch;
    text-align: left;
    padding-bottom: 2.5rem;
    &--h3 {
      font-size: 1.25rem;
      padding-bottom: 0.25rem;
    }
  }
  &__list {
    list-style: none;
    padding-bottom: 0.5rem;
    &--link {
      text-decoration: none;
      color: $textColor-dull;
    }
  }
}

.socialmedia {
  display: flex;
  &__item {
    width: 35px;
    &--link {
      display: inline-block;
      text-decoration: none;
      color: $textColor-dull;
      font-size: 1.5rem;
    }
  }
}

.arrow-link {
  color: $textColor-dull;
  font-size: 1.5rem;
  position: relative;
  left: 95%;
  top: 95%;
}
