.header {
  width: 100%;
  position: fixed;
  top: 0;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__nav {
    width: 50%;
    &--menuMob {
      font-size: 1.5rem;
      color: $textColor-dark;
      @include desktop {
        display: none;
      }
    }
    &--menuDesk {
      display: none;
      list-style: none;
      text-decoration: none;
      @include desktop {
        display: flex;
        margin-left: -15px;
      }
    }
  }
  &__logo {
    transform: translateX(-50%);
  }
}

.desktop-menuLink {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  color: $textColor-dark;
}
