.section3 {
  background-color: $background-light;
  display: grid;
  align-items: center;
  text-align: center;
  @include desktop {
    grid-template-columns: 1fr 1fr;
    height: 570px;
    text-align: left;
  }
  &__article {
    padding: $padding-sections;
    color: $textColor-dark;
    @include desktop {
      width: 560px;
    }
    &--h2 {
      @include largeTextDark;
      @include desktop {
        width: 15ch;
      }
    }
    &--p {
      @include desktop {
        width: 30ch;
      }
    }
  }
  &__img {
    height: 300px;
    background-image: url(../images/creando-espacios.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include tablet {
      height: 470px;
    }
    @include desktop {
      height: 570px;
    }
  }
}

.special_wrapper {
  margin: 0 30px;
  @include tablet {
    margin: 0 80px;
  }
  @include desktop {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: flex-end;
  }
}
